@value montserrat from './common/typography.css';

/*
 * Add any global styles here
 */
* {
  box-sizing: border-box;
}

body {
  margin: 10px;
}

.app {
  composes: box from './common/layout.css';


  font-weight: normal;
  font-smoothing: antialiased;
}
