.table {
    position: relative;
    width: 100%;
		margin-top: -40px;
}

.dropdown {
	width:200px;
}

.theaders {
    position: absolute;
		height: 30px;
    top: 0;
    left: 0;
    display: inline-block;
    background: #fff;
    border-bottom: 1px solid #d1d1d1;
    border-top: 1px solid transparent;
    border-left: 1px solid #dde1e3;
}

.thead {
    min-width: 175px;
		height: 34px;
    display: inline-block;
    background: #fff;
    border-right: 1px solid #dde1e3;
}

.trows {
    margin-top: 40px;
    height: 100%;
    overflow: scroll;
}

.trow {
    width: 100%;
    display: inline-block;
}

.cell {
    width: 200px;
		height: 30px;
    padding: 10px;
    display: inline-block;
    border-bottom: 1px solid #dde1e3;
    border-left: 1px solid #dde1e3;
    border-right: 1px solid transparent;
    border-top: 1px solid transparent;
    overflow: none;
}
